@import url("/home/quirinecker/.cache/ulauncher_cache/themes/dark/generated.css");

@import url("theme.css");

.input {
    caret-color: @caret_color;
}
.selected.item-box {
    /* workaround for a bug in GTK+ < 3.20 */
    border: none;
}
